body {
    background-color: darkslategray;
}

.body {
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.image {
    height: 200px;
    width: 500px;
    mix-blend-mode: lighten;
}
.random {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding: 50px;
}
.image2 {
    height: 170px;
    width: 170px;
    border: 5px solid #3992F6;
    border-radius: 20px;
}
.info {
    height: auto;
    width: 180px;
    gap: 10px;
}
    


.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 90px;
    gap: 40px;
}

.heroText {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.heroTitle {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.button {
    padding-top: 10px;
    background-color: #3992F6;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.button:hover {
    background-color: cornflowerblue;
}

.container {
    background-color: white;
    padding-bottom: 125px;
}

.quoteContainer {
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.quote {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color:#1F2937;
    justify-content: center;
    width: 925px;
}

.quoteName {
    margin: 0;
    padding: 0;
    display: flex;
    width: 925px;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    color:#1F2937;
}